<li class="dropdown{% if menu.getActiveChild() != null %} active{% endif %}">
    {% if captionByActiveChild is defined %}
        {% set caption = menu.getActiveChild().getCaption() %}
    {% else %}
        {% set caption = menu.getCaption()  %}
    {% endif %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ caption }}<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% for item in menu.getChildren() %}
            <li {% if item.isActive() %}class="active" {% endif %}><a href="{{ app.path( item.getRoute(), item.getArgs() ) }}">{{ item.getCaption() }}</a></li>
        {% endfor %}
    </ul>
</li>