<ul class="pagination grid-pager">
    {% for item in menu.getChildren() %}
        <li {% if item.isActive() %}class="active"{% endif %} >
            <a href="{{ app.path( item.getRoute(), item.getArgs() ) }}">{{ item.getCaption() }}</a>
        </li>
    {% endfor %}    
</ul>