<ul class="nav nav-pills nav-stacked">
    <li><h3><span class="glyphicon glyphicon-{{ menu.getIcon() }}"></span>{% if menu.getCaption() != '' %}&nbsp;&nbsp;{% endif %}{{ menu.getCaption() }}</h3></li>
    {% for item in menu.getChildren() %}
        <li {% if item.isActive() %}class="active" {% endif %}><a href="{{ app.path( item.getRoute(), item.getArgs() ) }}">{{ item.getCaption() }}</a></li>
    {% endfor %}
</ul>