{% if file != null %}
    {% set path = app['backend.upload.fm'].getUploadPath() ~ '/' ~ file.getFilename() %}
    {% if app['triangl.image'].isImage(path) %}
        {% include 'image_preview.html.twig' with {'file': file, 'path': path} %}
    {% endif %}
{% endif %}
