{% set data = grid.getData() %}
<table {% include 'attr.data.html.twig' with {data: grid.getData()} %} class="table table-hover">
    <thead>
        <tr>
            {% for cell in grid.getRowAt(0).getCells() %}
                <th>
                    {{ cell.getData() }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% if grid.getRowCount() > 1 %}
            {% for i in range( 1, grid.getRowCount() - 1 ) %}
                {% set row = grid.getRowAt(i) %}
                {% set data = row.getData() %}
                <tr {% include 'attr.data.html.twig' %} {% if row.isActive() %}class="active"{% endif %}  >
                    {% for cell in row.getCells() %}
                        <td>{{ cell.getData() | raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>


{% if grid.getPager() != null %}
    {% set pager = grid.getPager() %}
    {% if pager.getMenu() != null %}
        <div>
            {% include "nav_grid_pager_layout.html.twig" with {menu: pager.getMenu()} %}
        </div>
    {% endif %}    
{% endif %}
